.DS_store
.qmake.stash
object_script.*
\#*
digit-exe-windows-*
engauge
engauge.log
engauge.pro.user
engauge.pro.user.markummitchell
Makefile*
object_script.engauge
qrc_*
make.exe.stackdump
Engauge Digitizer
Engauge Digitizer.app
Engauge Digitizer.app.dSYM
Engauge Digitizer.dmg
Engauge Digitizer.pkg
engauge.app
engauge.dmg
engauge.pkg
engauge.app.dSYM
fftw-3.3.4*
log4cpp-1.1.1*
log4cpp_null*
poppler-qt5*
transifex_downloads
bin/engauge.ilk