.DS_store
.qmake.stash
object_script.*
\#*
digit-exe-windows-*
engauge
engauge.log
engauge.pro.user
Makefile*
object_script.engauge
qrc_*
make.exe.stackdump
Engauge Digitizer
Engauge Digitizer.app
Engauge Digitizer.app.dSYM
Engauge Digitizer.dmg
Engauge Digitizer.pkg
engauge.app
engauge.dmg
engauge.pkg
engauge.app.dSYM
transifex_downloads