[Desktop Entry]
Name=Engauge Digitizer
Type=Application
Comment=Extracts data points from images of graphs
TryExec=engauge
Exec=engauge %F
MimeType=text/plain;
Categories=Education;Math;Science;DataVisualization;
Icon=engauge-digitizer
Keywords=Analog-Digital Converter;
