inherit qt5-qmake

VERSION=<VERSION>
ERSION=<ERSION>

SRC_URI="http://github.com/markummitchell/engauge-digitizer/archive/${VERSION}.zip"
SRC_DIR="engauge-digitizer-${ERSION}"
NAME="engauge"
RELEASE=1
CATEGORY="Math"
LOG_DIR=/tmp
LOG4CPP_HOME=${S}/dev/cygport/log4cpp_null
FFTW_HOME=/usr
CYGQMAKE5_ARGS="CONFIG+=cygport CONFIG+=log4cpp_null"
SUMMARY="Convert graph images to numeric data"
DESCRIPTION="Engauge Digitizer digitizes images of graphs into numbers"
HOMEPAGE="http://github.com/markummitchell/engauge-digitizer"
PATCH_URI="
	engauge-no-undefined.patch
	engauge-webkit.patch
"

src_compile() {
	      cd ${B}
	      qt5_qmake_compile
}

src_install() {
	      dobin ${B}/bin/engauge.exe
	      cd ${S}/help
	      dos2unix build.bash
	      mkdir -p ${B}/share/doc/engauge
	      build.bash ${B}/share/doc/engauge
}