.download
.local
__pycache__
for*
# DO NOT IGNORE qm FILES! THEY ARE REQUIRED FOR SNAP AND FLATPAK BUILDS IN THIS DIRECTORY SINCE bin/translations
# DIRECTORY IS EXCLUDED FROM 'Source code (tar.gz)' FILE AUTOMATICALLY BUILT BY GITHUB FOR EACH NEW RELEASE SO
# THE SNAP/FLATPAK BUILD SCRIPTS COPY THEM FROM THIS FILE
