digit*.msi
digit*.zip
*.wixobj
digit*.wixpdb
engauge*.wixpdb
staging
Engauge Digitizer
Engauge Digitizer.7z
build_msi_and_zip~
engauge-build
engauge-build.7z
fftw-3.3.4-dll32
log4cpp-1.1.1*