\#*
*.autosave
build_and_run_all_cli_tests.log
build_and_run_all_gui_tests.log
.moc
.moc_test
.objs
.objs_test
engauge.log*
engauge.pro.user
engauge_resource.rc
engauge_test.log*
engauge_test.pro
engauge_test.pro.user
Makefile*
object_script.*
qrc_*
